@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
  }
  
  body {
    @apply bg-gray-950 text-gray-100;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#C5FF3F] bg-opacity-20 rounded-full hover:bg-opacity-30;
  }

  /* Audio player styling */
  input[type="range"] {
    @apply h-2 bg-gray-800 rounded-full appearance-none cursor-pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-[#C5FF3F] rounded-full shadow-lg shadow-[#C5FF3F]/20 cursor-pointer;
  }
}